Pillow
Django
django-ckeditor

asgiref           
certifi            
cffi               
charset-normalizer 
colorama           
cryptography       
Django             
django-ckeditor    
django-js-asset    
django-paypal    
idna              
mercadopago        
paypalrestsdk      
pip               
pycparser         
pyOpenSSL          
pytz               
qrcode           
requests           
six                
sqlparse           
typing_extensions  
tzdata             
urllib3            

