{% extends 'core/base.html' %}

{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}

<div class="container">
  <div class="blog-container"> <!-- Contenedor en fila horizontal -->
    {% for post in posts %}
      <div class="blog-post">
        <h2 class="section-heading">
          <span class="section-heading-upper">{{ post.published|date:"SHORT_DATE_FORMAT" }}</span>
          <span class="section-heading-lower">{{ post.title }}</span>
        </h2>
        <img src="{{ post.image.url }}" alt="Imagen del post">
        <p>{{ post.content|truncatewords:20 }}</p> <!-- Muestra solo 20 palabras -->
        <p class="mb-0">
          <span class="section-heading-under">Publicado por <b>{{ post.author }}</b> en 
            <em>
              {% for category in post.categories.all %}
                <a href="{% url 'category' category.id %}" class="link">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </em>
          </span>
        </p>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
